<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Recipe</title>
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>

    <h1>Adding a new recipe</h1>
    <form action="/users/<%= user._id %>/recipes" method="POST">

        <label for="name">Name of the recipe</label>
        <input type="text" name="name" id="name" required>

        <label for="instructions">Enter the instructions</label>
        <textarea name="instructions" id="instructions"></textarea>

        <select name="ingredients" id="ingredients" multiple>
            <% ingredients.forEach((ingredient) => { %>
                <option value="<%= ingredient.name %>"><%= ingredient.name %></option>
            <% }) %>
        </select>

        <button type="submit">create the recipe</button>

    </form>

</body>
</html>